<div class="main__body">
    <div class="head">
        <h2 style="padding: 4px;" class="btn btn-info ">Sent Mails</h2>
    </div>
    <div class="emailList">
        <!-- Email List rows starts -->
        <div class="emailList__list" *ngFor="let mail of mail_list | searchfilter : searchTerm">
            <!-- Email Row Starts -->
            <div *ngIf="mail.type == 'sent'">
                <div (click)="navigate(mail.id)" class="emailRow" [class]="{'unread':mail.read == false}">
                    <div class="emailRow__options">
                        <span class="material-icons">thumb_up_off_alt</span>
                        <i class="fa fa-share-square fa-2x material-icons"></i>
                        <span class="material-icons"> label_important </span>
                    </div>

                    <h3 class="emailRow__title" [innerHTML]="mail.username | highlightSent : searchTerm"></h3>

                    <div class="emailRow__message">
                        <h4>
                            {{mail.sub}}
                            <span class="emailRow__description"> -{{mail.msg}} </span>
                        </h4>
                    </div>

                    <p class="emailRow__time">{{mail.time}}</p>
                </div>
            </div>
            <!-- Email Row Ends -->
        </div>
    </div>